@charset "utf-8";
/* CSS Document */

body,html,div,p,ul,li { margin:0; padding:0;-webkit-text-size-adjust: none;}
body { 
  -webkit-text-size-adjust:none; 
    background-color:#2e3235;
  /*font-size:1.1em;*/
  color:black;
  text-align: center; 
  overflow:hidden;
  height:100%;
  width: 100%;
}

#top{
   z-index: 8;
   position:absolute;
   width:100%;
   top:22px;
   left:0px;
   height:10%;
   /*background:transparent url(../Images/top-bg.jpg) center center;*/
    background-size:cover;
}
.center-middle{
    position: absolute;
    left:50%;
    top:50%;
     transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
}
#container{
   position:absolute;
    background-color:#27A1D4;
    background-size:cover;
    top:0px;
   left:0px;
   height:100%;
   width: 100%;
   overflow:auto;
}
#main{
  width:100%;
   position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%,-52%);
   -ms-transform: translate(-50%,-52%);
   -moz-transform: translate(-50%,-52%);
   -webkit-transform: translate(-50%,-52%);
}


#main>div{
  /*margin-bottom:20px;*/ 
}
.info{
  width: 100%;
  background-size:cover;
  margin:0 auto;
}
.info span{
  text-align: left;
  display: inline-block;
  width: 40%;
  margin-top:4px;
  margin-right:10px;
}
 .info span:first-child
    {
        width: 25%;
    }
.info span.l{
  text-align: center;
}

.more span.l{
  color:gray;
}

.more a:active{
  opacity:0.6;
}

ul,li{
    margin:0px;
    padding: 0px;
    list-style-type:none;

}
#main .rr{
	position:relative;
   margin-top:10%;
   margin-bottom:8px; 
   color:#ffffff;
   font-weight:600;
   font-size:1.50em;
}
#main .bg{
 position:absolute;
 left:0px;
 top:0px;
 width:100%;
 height:100%;
 background:url(../Images/frames-li.png) no-repeat center center;
 background-size: cover;
 padding-top:0px; 
 z-index:2;
}

.ul-mian{
  position: relative;
    margin:0px auto;
    width:90%;
    height:100%;
    z-index: 3;
    overflow: hidden;
    top: 26%;
	-moz-border-radius: 1%;
	-webkit-border-radius: 1%;
	border-radius: 3%;
	-moz-box-shadow: 10px 10px 20px #000;
	border:2px solid #fff;
	background:#ffffff;
	}

.find-jg{ position: relative;
    margin:0px auto;
    width:100%;
    height:100%;
    z-index: 3;
    overflow: hidden;
	text-align:left;
	text-indent:2%;
	}

.info{
  margin:0 auto;
  width: 100%;
  font-size:0.86em;
}

.more a:active{
  opacity:0.6;
}

.scroll-bar{
	position: relative;
	margin:0px auto;
	width:100%;
	height:100%;
	z-index: 3;
	overflow: hidden;
	top: 10%;
}
.xm-tz{
	 position: relative;
    width:55%;
    height:100%;
    z-index: 3;
    overflow: hidden;
    top: 26%;
	float:left;
    }
.ul-main-img{
   position: relative;
    width:45%;
    height:100%;
    z-index: 3;
    overflow: hidden;
	float:right;
	
	}
.am-ts{ font-size:1.05em;
margin:10% 10%;
}
.ll{
	position:relative;
    margin:0 auto;
    width:90%;
    height:10%;

  border-bottom:#000 1px solid;
 }

 .plive-img{
	 position:relative;
	 z-index: 3;
    overflow: hidden;
    top: 50%;
    background-size: 100%; 
	 width:100%;
	 height:20%;
	-webkit-background-size: 100% 100%;
	 }
.p-class{
 color:#fff;
 height:10%;
 margin-top:1%;
}.p-class p{
 font-size:0.7em;
 line-height:1.3em;
}

.p-livema li{
	width:45%;
	overflow:hidden;
	z-index:4;
	float:left;
	line-height:1.5em;
	}

li span{
  display: inline-block;
  text-align: left;
  width:70%;
  margin:1px;
}
li span:first-child{
  width:25%;
  text-align: left;
  color:black;
  font-weight:600;
}
li img{
  width:75%;
  margin-left:auto;
  margin-right:auto;
}

#footer{
   z-index: 9;
   position:absolute;
   width:100%;
   bottom:0px;
   left:0px;
   height:30%;
   background-size:100% 100%;
}



img { border:0}
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }



/*分辨率*/
 @media screen and (max-width:374px)
{
    .rd > img
    {
        height:25%;
        width:25%;
        padding:5%;
    }
    .info > img
    {
        position:absolute;
        left:10%;
        top:21%;
        width:80%;
        height:15%;
        z-Index:-1;
    }
}
@media screen and (min-width:375px) and (max-width:413px)
{
     .rd > img
    {
        height:30%;
        width:28%;
        padding:5%;
    }
    .info > img
    {
        position:absolute;
        left:10%;
        top:18%;
        width:80%;
        height:15%;
        z-Index:-1;
    }
}

@media screen and (min-width:414px) and (max-width:767px)
{
    body
    {
        font-size:1.4em;
    }
     .rd > img
    {
        height:32%;
        width:30%;
        padding:5%;
    }
    .info > img
    {
        position:absolute;
        left:10%;
        top:18%;
        width:80%;
        height:15%;
        z-Index:-1;
    }
}

@media screen and (min-width:768px) and (max-width:1000px)
{
    body
    {
        font-size:2em;
    }
     .rd > img
    {
        height:20%;
        width:19%;
        padding:8%;
    }
    .info > img
    {
        position:absolute;
        left:10%;
        top:21%;
        width:80%;
        height:15%;
        z-Index:-1;
    }

}
@media screen and (min-width:1000px)
{
	#footer{
   z-index: 9;
   position:absolute;
   width:100%;
   bottom:0px;
   left:0px;
   height:30%;
   background-size:100% 100%;
}

	
	
    body
    {
        font-size:2.0em;
    }
    .rd
    {
        height:30%;
    }
     .rd > img
    {
        height:22%;
        width:10%;
    }
    .info > img
    {
        position:absolute;
        left:10%;
        top:38%;
        width:80%;
        height:12%;
        z-Index:-1;
    }
}
@media only screen and (min-width : 1224px) {

 body
    {
		margin:0;
		padding:0;
        font-size:30px;
    }
    .scroll-bar
    {
        top: 23%;
    }
    .scroll-bar>div 
    {
        width: 80%;
    }

 li img{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}
}
@media only screen and (min-width : 1824px) {
body
    {
		margin:0;
		padding:0;
        font-size:30px;
    }
    .scroll-bar
    {
        top: 23%;
    }
    .scroll-bar>div 
    {
        width: 80%;
    }

}


